#Title{
	font-size: 400%;
}

#body{
	text-align:center;
}

.imagePick{
	width: 400px;
}

.informationForm{
	padding-left: 30vw;
	padding-right: 30vw;
}

.gameTable{
	width:70vw;
	padding-left:30vw;
}

th{
	text-align: center;
}