input{
	width: 100%;
	font-size: 20;
}

body{
	background: #DDDDDD;
}

.navbar-header{
	background: linear-gradient(#E53935,#A70C0C);
}
#img-header{
	text-align: center;
	max-width: 100px;
}

.col-md-4{
	background: #DDDDDD;
	font-family: "Lucida Grande", Georgia, Serif;
	margin:auto;
	padding:auto;

}

#signupform{
	width: 300px;
	text-align: center;
	font-size: 1.3em;
}
.radiogroup{
	width: auto;
	margin:auto;
	display: inline-block;
}

.fieldgroup{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}